@font-face {
    font-family: figtree;
    src: url(./Figtree-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: figtree;
}

body{
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: white;
    display: flex;
    width: 24rem;
    height: 32.625rem;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 8px 8px 0 black;
    justify-content: space-evenly;
}
.graphic {
    height: 12.5rem;
    width: fit-content;
    align-self: center;
    border: none solid none;
    border-radius: 10px;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -0.625rem;
    margin-left: 1.25rem;
    font-family: figtree;
}
.status {
    margin-top: -0.625rem;
    margin-left: 1.25rem;
}
.contain-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.125rem;
    height: 1.813rem;
    border: none solid none;
    border-radius: 4px;
    background-color:  hsl(47, 88%, 63%);
    margin-bottom: 0.625rem;
}

.info {
    margin-top: -0.813rem;
    margin-left: 1.25rem;
}
.published {
    font-size: 0.75rem;
    font-weight: 500;
}
.desc {
    margin-top: 0.938rem;
    font-size: 1rem;
    color: hsl(0, 0%, 42%);
}
.pfp {
    height: 2rem;
    width: 2rem;
}
.name {
    margin-left: 0.625rem;
    font-size: 0.875rem;
}
.title:hover {
    color:  hsl(47, 88%, 63%);
}